##  Importing Required Library 
first we import require libarary for manipulation , cleaning and preprocessing

In [ ]:
import pandas as pd
import numpy as np
print("Setup complete")

Setup complete

### Loading Data From file to dataframe

In [2]:
data=pd.read_csv("credit_card_dataset.csv")

In [3]:
data.head()

,Customer_ID,Age,Gender,Employment_Type,Annual_Income,Credit_Score,Loan_or_Credit_Amount,Credit_Limit,Utilization_Ratio,Number_of_Active_Accounts,Past_Default_Count,Application_Type,Application_Date,Region,Default_Status,Approval_Status
0,C00001,62.0,Female,Salaried,1043546.0,440.0,325680,448760,0.90,5,2,Loan,2024-02-04,Urban,Yes,Rejected
1,C00002,31.0,Female,Student,1633388.0,782.0,445916,1194487,0.17,4,3,Credit Card,2023-11-16,Rural,No,Approved
2,C00003,59.0,Male,Salaried,1708828.0,604.0,796970,143013,0.95,1,0,Loan,2023-09-21,Semi-Urban,No,Approved
3,C00004,63.0,Male,Salaried,1006842.0,644.0,982619,702269,0.17,5,0,Loan,2023-12-31,Urban,Yes,Rejected
4,C00005,51.0,Female,Salaried,622519.0,569.0,758289,664602,0.97,6,3,Credit Card,2024-01-24,Urban,Yes,Rejected

In [4]:
data.sample(5)

,Customer_ID,Age,Gender,Employment_Type,Annual_Income,Credit_Score,Loan_or_Credit_Amount,Credit_Limit,Utilization_Ratio,Number_of_Active_Accounts,Past_Default_Count,Application_Type,Application_Date,Region,Default_Status,Approval_Status
3651,C03652,57.0,Female,Salaried,1426970.0,332.0,841153,352790,0.76,4,1,Credit Card,2024-02-05,Urban,No,Approved
4167,C04168,51.0,Female,Salaried,690853.0,323.0,313193,243358,0.43,5,0,Credit Card,2023-04-01,Rural,Yes,Rejected
3793,C03794,60.0,Male,Salaried,728109.0,452.0,434569,1137580,0.40,6,1,Loan,2023-06-17,Semi-Urban,Yes,Rejected
2157,C02158,NaN,Female,Salaried,746658.0,695.0,500510,528357,0.38,4,2,Loan,2023-08-26,Urban,Yes,Rejected
2299,C02300,21.0,Male,Retired,560142.0,849.0,780429,1237013,0.33,6,1,Loan,2024-04-04,Rural,No,Approved

In [5]:
data.shape

(5000, 16)

In [6]:
data.columns

Index(['Customer_ID', 'Age', 'Gender', 'Employment_Type', 'Annual_Income',
       'Credit_Score', 'Loan_or_Credit_Amount', 'Credit_Limit',
       'Utilization_Ratio', 'Number_of_Active_Accounts', 'Past_Default_Count',
       'Application_Type', 'Application_Date', 'Region', 'Default_Status',
       'Approval_Status'],
      dtype='object')

### Removing Unnecessary data from dataset

In [7]:

data = data.drop(['Customer_ID', 'Application_Date'], axis=1)

### basic Information and Stastical anlaysis of data

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        4750 non-null   float64
 1   Gender                     5000 non-null   object
 2   Employment_Type            4750 non-null   object
 3   Annual_Income              4750 non-null   float64
 4   Credit_Score               4750 non-null   float64
 5   Loan_or_Credit_Amount      5000 non-null   int64
 6   Credit_Limit               5000 non-null   int64
 7   Utilization_Ratio          4750 non-null   float64
 8   Number_of_Active_Accounts  5000 non-null   int64
 9   Past_Default_Count         5000 non-null   int64
 10  Application_Type           5000 non-null   object
 11  Region                     5000 non-null   object
 12  Default_Status             5000 non-null   object
 13  Approval_Status            5000 non-null   object
dtypes: float64(4), int64(4), object(6)
memory usage: 547.0+ KB

In [9]:
data.describe()

,Age,Annual_Income,Credit_Score,Loan_or_Credit_Amount,Credit_Limit,Utilization_Ratio,Number_of_Active_Accounts,Past_Default_Count
count,4750.000000,4.750000e+03,4750.000000,5000.000000,5.000000e+03,4750.000000,5000.000000,5000.000000
mean,42.970105,1.070163e+06,577.295158,524066.542200,7.969727e+05,0.547851,3.515000,1.498800
std,12.897900,5.341986e+05,159.580176,273818.381128,4.035981e+05,0.259123,1.688889,1.127055
min,21.000000,1.501840e+05,300.000000,50059.000000,1.001570e+05,0.100000,1.000000,0.000000
25%,32.000000,6.082722e+05,437.000000,284851.250000,4.445868e+05,0.330000,2.000000,0.000000
50%,43.000000,1.059636e+06,580.000000,525681.500000,8.031780e+05,0.550000,4.000000,1.000000
75%,54.000000,1.535297e+06,714.000000,757740.750000,1.148774e+06,0.770000,5.000000,3.000000
max,65.000000,1.999340e+06,850.000000,999958.000000,1.499812e+06,1.000000,6.000000,3.000000

### Finding missing values and handling them

In [10]:
data.isnull().sum()

Age                          250
Gender                         0
Employment_Type              250
Annual_Income                250
Credit_Score                 250
Loan_or_Credit_Amount          0
Credit_Limit                   0
Utilization_Ratio            250
Number_of_Active_Accounts      0
Past_Default_Count             0
Application_Type               0
Region                         0
Default_Status                 0
Approval_Status                0
dtype: int64

In [11]:
data['Age'] = data['Age'].fillna(data['Age'].median()).astype(int)
data['Utilization_Ratio'].fillna(data['Utilization_Ratio'].median(), inplace=True)
data['Credit_Score'].fillna(data['Credit_Score'].median(), inplace=True)
data['Annual_Income'].fillna(data['Annual_Income'].median(), inplace=True)
data['Employment_Type'].fillna(
    data['Employment_Type'].mode()[0],
    inplace=True
)
#numeric are handle by median because our dataset it not normally distributeded

C:\Users\OM\AppData\Local\Temp\ipykernel_2716\367331138.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Utilization_Ratio'].fillna(data['Utilization_Ratio'].median(), inplace=True)
C:\Users\OM\AppData\Local\Temp\ipykernel_2716\367331138.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Credit_Score'].fillna(data['Credit_Score'].median(), inplace=True)
C:\Users\OM\AppData\Local\Temp\ipykernel_2716\367331138.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Annual_Income'].fillna(data['Annual_Income'].median(), inplace=True)
C:\Users\OM\AppData\Local\Temp\ipykernel_2716\367331138.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Employment_Type'].fillna(

In [12]:
data.isnull().sum()

Age                          0
Gender                       0
Employment_Type              0
Annual_Income                0
Credit_Score                 0
Loan_or_Credit_Amount        0
Credit_Limit                 0
Utilization_Ratio            0
Number_of_Active_Accounts    0
Past_Default_Count           0
Application_Type             0
Region                       0
Default_Status               0
Approval_Status              0
dtype: int64

### Finding Dublicate data/ row is present in our  dataset

In [15]:
data.duplicated().sum()

np.int64(0)

# Conclusion
In this task, I successfully handled missing values in the dataset by applying appropriate strategies such as using the median or mode, depending on the data type. I also performed basic data operations including sorting, filtering, and calculating simple statistics to understand the dataset better.